.header{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

.header a{
    display: flex;
    align-items: center;
}

.logo{
    max-height: 38px;
}

.header .title-group{
    padding-left: 25px;
}

.header .title-group i{
    padding-right: 5px;
}